<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="container">
      <div class="mt-4 p-5 bg-light rounded">
        <h1 class="display-4">Welcome to the Convert App</h1>
        <p class="lead">Let's go!</p>
        
        <hr class="my-4" />
        <p>
          You can convert characters to ASCII and vice versa, and you can also
          convert number systems.
        </p>
        
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js
    "></script>
  </body>
</html>
